<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="../../public/css/style.css" />
    </head>
    <body class="bg-gradient">
        <!-- Navbar -->
        <nav class="shadow-sm tablet:px-24 tablet:py-2 px-8 py-2 bg-white">
            <!-- Desktop Navbar -->
            <div class="laptop:flex hidden justify-between items-center">
                <div>
                    <a href="#">
                        <img
                            src="../../public/asset/logo.png"
                            alt="Digitize"
                            class="h-10"
                        />
                    </a>
                </div>
                <ul class="text-purple flex items-center gap-8 text-base">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Art</a></li>
                    <li><a href="#">Song</a></li>
                    <li><a href="#">Dance</a></li>
                    <li class="text-white bg-purple py-1 px-4 rounded-lg ml-4">
                        <a href="#"> Sign In</a>
                    </li>
                </ul>
            </div>

            <!-- Sidebar (Tablet/Mobile) -->
            <div class="laptop:hidden flex justify-between items-center">
                <div>
                    <a href="#">
                        <img
                            src="../../public/asset/logo.png"
                            alt="Digitize"
                            class="tablet:h-10 h-6"
                        />
                    </a>
                </div>
                <div id="sidebar-wrapper" class="inline-block">
                    <button onclick="sidebarMenuWrapper()">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="tablet:w-10 tablet:h-10 w-6 h-6 text-purple"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                            />
                        </svg>
                    </button>
                    <div id="sidebar-menu" class="fixed flex-col hidden">
                        <div
                            id="sidebar-blank"
                            class="fixed flex-col bg-black z-1 opacity-20 blur-xl h-screen w-screen top-0 left-0"
                        ></div>
                        <div
                            class="fixed flex-col bg-white z-0 h-screen top-0 right-0 tablet:w-2/6 w-2/5 tablet:px-12 tablet:py-16 px-4 py-6"
                        >
                            <img
                                src="../../public/asset/close.png"
                                alt="close"
                                id="close-sidebar"
                                class="tablet:h-8 h-5 absolute tablet:top-8 tablet:right-8 top-4 right-4"
                            />
                            <ul
                                class="w-full h-full flex flex-col justify-between pt-16"
                            >
                                <div
                                    class="w-full flex flex-col gap-8 tablet:text-xl text-sm text-right"
                                >
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Art</a></li>
                                    <li><a href="#">Song</a></li>
                                    <li><a href="#">Dance</a></li>
                                </div>
                                <div class="mb-10">
                                    <li
                                        class="text-white text-center tablet:text-xl text-sm bg-purple font-semibold py-1 px-4 rounded-lg ml-4"
                                    >
                                        <a href="#"> Sign In</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Content Wrapper -->
        <div
            class="flex justify-center items-center content-center h-screen -mt-16"
        >
            <div
                class="flex flex-col gap-8 justify-center items-center bg-white h-fit rounded-3xl px-12 py-8 tablet:w-[32rem] w-[20rem]"
            >
                <div>
                    <h1
                        class="text-purple tablet:text-4xl text-2xl font-semibold"
                    >
                        Login
                    </h1>
                </div>
                <form action="" class="flex flex-col gap-8 w-full">
                    <div class="flex flex-col gap-6">
                        <div class="flex flex-col gap-1">
                            <label
                                for="email"
                                class="text-purple tablet:text-xl text-lg font-semibold"
                                >Email</label
                            >
                            <input
                                name="email"
                                class="border-b-2 text-black tablet:text-xl text-lg outline-none"
                                placeholder="Enter your email here..."
                            />
                        </div>

                        <div class="flex flex-col gap-1">
                            <label
                                for="password"
                                class="text-purple tablet:text-xl text-lg font-semibold"
                                >Password</label
                            >
                            <input
                                name="password"
                                type="password"
                                class="border-b-2 text-black tablet:text-xl text-lg outline-none"
                                placeholder="Enter your password here..."
                            />
                        </div>
                    </div>

                    <div
                        class="flex tablet:flex-row flex-col text-center gap-2 tablet:text-sm text-xs justify-center"
                    >
                        <p>Don't have an account yet?</p>
                        <a href="#" class="text-purple">Register Now</a>
                    </div>

                    <div class="flex justify-center">
                        <button
                            class="bg-gradient text-center tablet:text-xl text-lg text-white font-semibold py-1 px-16 rounded-lg"
                        >
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <script src="../../public/js/navbar.js"></script>
    </body>
</html>
